@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}
body
{
    font-family: var(--font-family) !important;
}
.cursor-pointer
{
    cursor: pointer;
}
.loader{
    z-index: 333;
}
.overlayLoading{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(217, 223, 228, 0.12);
}
.layOut{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
    height: fit-content;
}
.font-sm
{
    font-size: .9rem;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.first-z{
    z-index: 9999;
}
.container{
    position: relative;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.border-main{
    border: solid 1px var(--main-color) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.network{
    background-color: var(--light-color);
    box-shadow: var(--shadow);
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 99999;
}
.product,
.brand,
.category{
    border: solid 1px transparent;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.product:hover,
.brand:hover,
.category:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: scale(1.1 , 1.05);
    -webkit-transform: scale(1.1 , 1.05);
    -moz-transform: scale(1.1 , 1.05);
    -ms-transform: scale(1.1 , 1.05);
    -o-transform: scale(1.1 , 1.05);
}
.product .btn 
{
    transition: all 1s ;
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all 1s ;
    -moz-transition: all 1s ;
    -ms-transition: all 1s ;
    -o-transition: all 1s ;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);
}
@media screen and (max-width : 575px) {
    .container{
        width: 94%;
    }
    .product:hover,
.brand:hover,
.category:hover
{
    transform: scale(1.06 , 1.05);
    -webkit-transform: scale(1.06 , 1.05);
    -moz-transform: scale(1.06 , 1.05);
    -ms-transform: scale(1.06 , 1.05);
    -o-transform: scale(1.06 , 1.05);
}
}
.slick-slider button.slick-arrow::before{
    color: var(--main-color) !important;
}
.form-control:focus{
    border-color:var(--main-color) ;
    box-shadow: 0 0 0 0.25rem #0aad0a56;
}
.cart-Num
{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    transform: translate(100% 100%);
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transform: translate(100% 100%);
    -moz-transform: translate(100% 100%);
    -ms-transform: translate(100% 100%);
    -o-transform: translate(100% 100%);
}
.cartContainer,
.favContainer{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(134, 127, 127, 0.55);
}
.favContainer i{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.favContainer:hover i{
    color: #dc3545;
    scale: 1.3;
}
.cart-icon:hover .cart-Num
{
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}
@media screen and ( max-width: 991px ) {
    .nav-left{
        flex-direction: column;
    }
}
.nav-link:not(i):hover
{
    color: var(--main-color) 
}
.nav-link{
    margin-inline: 5px;
    transition: all .5s step-start;
    -webkit-transition: all .5s step-start;
    -moz-transition: all .5s step-start;
    -ms-transition: all .5s step-start;
    -o-transition: all .5s step-start;
}
.navbar-nav .nav-link.active{
    color: var(--main-color) ;
}
#categorySliderItem img{
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
}
#categorySliderItem:hover img{
    transform: scale(1.08 , 1.03);
    -webkit-transform: scale(1.08 , 1.03);
    -moz-transform: scale(1.08 , 1.03);
    -ms-transform: scale(1.08 , 1.03);
    -o-transform: scale(1.08 , 1.03);
    overflow: hidden;
}
#categorySliderItem:hover h3{
    color: var(--main-color);
}
.categoryImg ,
.brandImg{
    max-height: 400px;
    object-fit: contain;
}
.togglePassword{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#forgetPass:hover{
    color: var(--main-color);
}
/* #favList{
    position: absolute;
    inset: 0;
    top: 51px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
}
#favList .container{
    background-color: var(--light-color);
    position: relative;
    right: 0;
    width: fit-content;
} */