.imgSize{
    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
    object-fit: fill;
}
.catContainer{
    width:  13vw !important;
    height: 13vw !important;
    margin: 0;
    text-align: center;
}
.slick-list{
    text-align: center;
}